body {
  background: #fbfbf8;
}

.center-align {
  text-align: center;
}

.success, .error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background: green;
}

.error {
  background: red;
}

.button.button-primary {
  border-radius: 100px;
}

.delete-button {
  margin: 0;
}
